*{
    padding: 0px;
    margin: 0px;
}
.sprite {
    background-image: url(merge.png);
    background-repeat: no-repeat;
    display: block;
}
#img1 {
    width: 962px;
    height: 1079px;
    background-position: 0px 0px;
}
#img2 {
    width: 958px;
    height: 1078px;
    background-position: 0px -1079px;
    /*position: absolute;
    left: 962px;
    top: 0px;*/
}